{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do List</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-modal-bs3patch.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap3-modal.css' %}" rel="stylesheet">
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand"><strong>To-Do List</strong></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="./index.html">Home</a></li>
            <li class="active"><a href="#">Help</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- TYPOGRAPHY -->
    <div class="container">
      <h1 class="page-header">Help</h1>
      <p class="lead">Although using the to-do list is not that complicated, here are a few tips:</p>
      <hr>
      <ul class="tips" id='tips'>
        <li> You can safely press the 'Clear List' button; You will get a warning asking for your confirmation before the list gets deleted!</li>
        <li> If you haven't done it already, try hovering over and pressing a task's name or date - you will get to see the description you gave to task!</li>
        <li> If you want to close the description again, just press the task's name or date again.</li>
        <li> As the task name and due date are required, it should not be possible to add a task without filling those fields first.</li>
        <li> You can set a task as 'Important', which makes the task stand out more in the list by changing its colour.</li>
      </ul>
    </div>

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Include Date Range Picker -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <!-- Include Toggle -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap3-modalmanager.js' %}"></script>
    <script src="{% static 'js/bootstrap3-modal.js' %}"></script>
  </body>
</html> 