<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do List</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-modal-bs3patch.css" rel="stylesheet">
    <link href="css/bootstrap3-modal.css" rel="stylesheet">
  </head>
  <body>

  	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand"><strong>To-Do List</strong></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="./help.html">Help</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  	<!-- TYPOGRAPHY -->
  	<div class="container">
    	<h1 class="page-header">What to do...</h1>
    	<p class="lead">With this website, you are able to create a basic to-do list.<br> To get started, press the '+' button below!</p>
    	<hr>
    </div>

    <div class="form-group todolist">
      <h1>To-Do List</h1>
      <button type="button" class="btn btn-primary btn-circle btn-lg" data-toggle="modal" data-target="#testModal"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
    <div></div>
    <ul class="list-unstyled" id="todoTEST">
    	<div class='listHeading col-xs-12 col-sm-12 col-md-12'>
	    	<li class='primary taskListed'>Task:</li>
	    	<li class='primary dateListed'>Due Date: </li>
	    	<li class='primary deleteButton'></li>
	    </div>
    	<!-- Example element in the list -->
    	<div class='taskInTheList col-xs-12 col-sm-12 col-md-12'>
    		<div class='clickableExpand'>
    			<li class='panel panel-default taskListed'>Example task</li>
    			<li class='panel panel-default dateListed'>05/12/2017</li>
    		</div>
    		<li class='deleteButton'><a href='#' class='btn btn btn-danger' id='testingWithNames' aria-hidden='true'>&times;</a></li>
    		<div class='expandedInstructions'>
    			<h4>Description of the task:</h4><br>This description can be filled or can be left empty. Clicking on the task toggles the description.
    		</div>
    	</div>
    </ul>
    <div class='container col-xs-12 col-sm-12 col-md-12 clearAll'>
    	<button type="button" class="btn btn-danger btn-lg" id='clearListButton' data-toggle="modal" data-target="#clearModal">Clear List</button>
    </div>

    <div id="testModal" class="modal fade" tabindex="-1" role="dialog">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title">Add a task</h4>
      			</div>
     			<div class="modal-body">
       				<div class="form-group">
						<label for="task">Task: <i>*required</i></label>
						<input type="text" class="form-control" id="task" name="taskName" placeholder="Fill in your task">
					</div>

					<div class="form-group">
	  					<label for="comment">Description of task:</label>
	  					<textarea class="form-control" rows="3" id="comment"></textarea>
					</div>

					<label for="date">Due date task: <i>*required</i></label>
					<div class="form-group input-group date">
					  	<input type="text" class="form-control" id='date' name='taskDate' data-provide="datepicker" placeholder="Click here to choose the due date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>

					<div class="form-group checkbox">
					  	<label for='checkboxImportant'>Set as Important: </label>
					  	<input type="checkbox" value="" id="checkboxImportant" data-toggle='toggle'>
					</div>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        			<button type="button" class="btn btn-primary" id="confirmTask" name="confirmButton">Confirm</button>
			    </div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div id="clearModal" class="modal fade" tabindex="-1" role="dialog">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title">Add a task</h4>
      			</div>
     			<div class="modal-body">
       				<p>Are you sure you want to clear the full list?</p>
       			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        			<button type="button" class="btn btn-primary" id="confirmTask" name="clearConfirmButton">Confirm</button>
			    </div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Include Date Range Picker -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	<!-- Include Toggle -->
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap3-modalmanager.js"></script>
    <script src="js/bootstrap3-modal.js"></script>
  </body>
</html>	